<div layout="column" ng-cloak class="md-inline-form">
    <div layout="row" class="top-10-bottom-10">

        <div flex="10">
            <!--First-->
        </div>

        <div flex="80" id="toast-position">
            <md-content layout-gt-sm="row" layout-align="center center" class="better-header wow fadeIn" data-wow-delay="0.5s">
                <md-card flex class="top-0-bottom-0">
                    <md-toolbar class="md-menu-toolbar">
                        <div layout="row">
                            <md-toolbar-filler layout layout-align="center center">
                                <md-icon class="material-icons white-text">chrome_reader_mode</md-icon>
                            </md-toolbar-filler>
                            <div>
                                <h2 class="md-toolbar-tools">View and Edit your lesssons</h2>
                                <md-menu-bar>
                                    <md-menu>
                                        <button ng-click="$mdOpenMenu()">
                                            Tutorials
                                        </button>
                                        <md-menu-content>
                                            <md-menu-item layout="column">

                                                <md-list-item md-ink-ripple class="md-3-line" ng-repeat="tutorial in tutorials" ng-click="openTutorial(tutorial)">
                                                    <div class="md-list-item-text" >
                                                        <h3 layout="column">{{tutorial.title}}</h3>
                                                        <md-menu-divider ng-if="!$last"></md-menu-divider>
                                                    </div>
                                                </md-list-item>

                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                </md-menu-bar>
                            </div>
                        </div>
                    </md-toolbar>
                    <div>
                        <form class="top-5">
                            <div layout-gt-xs="column">
                                <div layout="row">
                                    <div flex="10">
                                        <!--Left Most-->
                                    </div>
                                    <md-input-container class="md-block" flex="70">
                                        <label>Title</label>
                                        <input type="text" ng-model="model.lesson.title">
                                    </md-input-container>

                                </div>

                                <div layout="row">
                                    <div flex="10">
                                        <!--Left Most-->
                                    </div>
                                    <md-input-container class="md-block" flex="70">
                                        <label>Tagline</label>
                                        <input ng-model="model.lesson.tagline">
                                    </md-input-container>

                                </div>

                                <div layout="row">
                                    <div flex="10">
                                        <!--Left Most-->
                                    </div>
                                    <md-input-container class="md-block" flex="70">
                                        <label>YouTube Link</label>
                                        <input ng-model="model.lesson.multimedia">
                                    </md-input-container>

                                </div>

                                <div layout="row">
                                    <div flex="10">
                                        <!--Left Most-->
                                    </div>
                                    <md-input-container class="md-block" flex="70">
                                        <label>Description</label>
                                        <textarea ng-model="model.lesson.description" md-maxlength="2000" rows="5" md-select-on-focus></textarea>
                                    </md-input-container>

                                </div>

                                <div layout="row">
                                    <div flex="10">
                                        <!--Left Most-->
                                    </div>
                                    <md-input-container class="md-block" flex="70">
                                        <label>Hints</label>
                                        <input ng-model="model.lesson.hints">
                                    </md-input-container>
                                </div>

                                <div layout="row">
                                    <div flex="10">
                                        <!--Left Most-->
                                    </div>
                                    <md-input-container class="md-block" flex="70">
                                        <label>Keywords</label>
                                        <input ng-model="model.lesson.keywords">
                                    </md-input-container>
                                </div>
                                <div layout="row">
                                    <div flex="10">
                                        <!--Left Most-->
                                    </div>
                                    <md-input-container class="md-block" flex="70">
                                        <label>Test Case</label>
                                        <textarea type="text" ng-model="model.lesson.testcases" md-select-on-focus></textarea>
                                    </md-input-container>
                                </div>

                                <div layout="row">
                                    <div flex="10">
                                        <!--Left Most-->
                                    </div>
                                    <div flex="70">
                                        <!--<button ng-click="disabled = !disabled" unselectable>Disable text-angular Toggle</button>-->
                                        <md-input-containertext ng-model="model.lesson.question" text-angular="text-angular" name="htmlcontent" ng-model="htmlcontent" ta-disabled='disabled'></md-input-containertext>
                                    </div>
                                </div>

                                <md-button ng-click="model.createLesson(model.lesson)" class="md-raised md-primary" class="lesson-style">Create Lesson</md-button>
                            </div>
                        </form>
                    </div>
                </md-card>
            </md-content>
        </div>
    </div>
    <nav mfb-menu position="br"
         effect="slidein-spring"
         label="Close"
         active-icon="ion-close"
         resting-icon="ion-edit"
         toggling-method="click"
         >
        <button mfb-button icon="ion-plus" label="Create Lesson" ng-click="model.createLesson(model.lesson)"></button>
        <button mfb-button icon="ion-wrench" label="Update Lesson" ng-click="model.updateLesson(model.lesson); model.showSimpleToast('Lesson Updated', 'toast-position')"></button>
        <button mfb-button icon="ion-trash-b" label="Delete Lesson" ng-click="model.deleteLesson(model.lesson); model.showSimpleToast('Lesson Deleted', 'toast-position')"></button>
    </nav>
</div>