<div layout="column" ng-controller="ProfileController as controller" ng-cloak class="md-form" id="toast-position">
    <div layout="row" style="margin-top: 5%">

        <div flex="25">
            <!--First-->
        </div>

        <div flex="50">
            <md-content layout-gt-sm="row" layout-align="center center" layout-padding>
                <md-card flex class="better-header">

                    <md-toolbar class="md-tall md-toolbar-tools" style="background-image:url(images/profile-bg.png); background-size: cover">
                        <!--<h2><span>Profile Form</span></h2>-->
                        <span layout="row" layout-align="start center" flex>
                            <img ng-src="{{currentUser.photo}}"
                                 class="md-avatar" alt="{{currentUser.firstName}}"
                                 flex="10"
                                 style="border-radius: 99%;
                                        border: 1px solid #ddd;
                                        margin: 2%;">
                             <h2>{{currentUser.firstName}} {{currentUser.lastName}}</h2>
                        </span>
                    </md-toolbar>
                    <md-tabs md-dynamic-height md-border-bottom md-autoselect>

                    <md-tab label="User Info">

                        <md-tab-label>Account Information</md-tab-label>

                        <md-tab-body>
                            <md-card-content layout="column" style="margin-top: 5%">
                                <md-input-container>
                                    <label>First Name</label>
                                    <input type="text" ng-model="currentUser.firstName" />
                                </md-input-container>
                                <md-input-container>
                                    <label>Last Name</label>
                                    <input type="text" ng-model="currentUser.lastName" />
                                </md-input-container>
                                <md-input-container>
                                    <label>Username</label>
                                    <input type="text" ng-model="currentUser.username" />
                                </md-input-container>
                                <md-input-container>
                                    <label>Email Address</label>
                                    <input type="email" ng-model="currentUser.email" />
                                </md-input-container>
                                <md-input-container>
                                    <label>Password</label>
                                    <input type="password" ng-model="currentUser.password" />
                                </md-input-container>
                                <!--<div flow-init>-->
                                    <!--<div class="alert" style="width: 110px;-->
                                                              <!--height: 110px;-->
                                                              <!--border: dashed 5px #777;-->
                                                              <!--border-radius: 20px;-->
                                                              <!--background-color: #ddd;" flow-drop>-->
                                        <!--<div style="vertical-align: middle;-->
                                                    <!--text-align: center;">-->
                                            <!--DROP IMAGE HERE-->
                                        <!--</div>-->
                                    <!--</div>-->
                                    <!--<input type="file" ng-model="currentUser.pic" flow-btn/>-->
                                    <!--<img flow-img="$flow.files[0]"-->
                                         <!--class="md-avatar"-->
                                         <!--flex="30"-->
                                         <!--ng-model="currentUser.photo"-->
                                         <!--style="margin-top: 2%;">-->
                                <!--</div>-->

                                <!--<lf-ng-md-file-input lf-files="files05"-->
                                                     <!--lf-browse-label="Search"-->
                                                     <!--lf-remove-label="Delete"-->
                                                     <!--lf-drag-and-drop-label="Drag and Drop here!"-->
                                                     <!--drag preview></lf-ng-md-file-input>-->

                                <md-button ng-click="model.edit(currentUser); model.showSimpleToast('Profile Updated', 'toast-position')"
                                           class="md-raised md-primary"
                                           style="margin-top: 5%;">Submit</md-button>

                            </md-card-content>
                        </md-tab-body>

                    </md-tab>

                    <md-tab label="Tutorials">

                        <md-tab-label>Tutorials</md-tab-label>

                        <md-tab-body>
                            <md-card-content layout="column" style="margin-top: 5%">
                                    <md-list flex>
                                        <md-subheader class="md-sticky">List of all the Tutorials & Lessons</md-subheader>
                                        <md-list-item class="md-3-line" ng-repeat="tutorial in model.tutorials" ng-click="model.openTutorial(tutorial)">
                                            <div class="md-list-item-text" layout="column" style="margin-top: 2%">
                                                <h3>{{model.tutorial.title}}</h3>
                                                <md-list-item class="md-3-line" ng-repeat="lesson in tutorial.lessons">
                                                    <div class="md-list-item-text" layout="column">
                                                        <p>{{lesson.title}}</p>
                                                        <md-divider ng-if="!$last"></md-divider>
                                                    </div>
                                                </md-list-item>
                                                <md-divider ng-if="!$last"></md-divider>
                                            </div>
                                        </md-list-item>
                                    </md-list>
                            </md-card-content>
                        </md-tab-body>

                    </md-tab>

                    </md-tabs>

                </md-card>
            </md-content>
        </div>

        <div flex="25">
            <!--Second-->
        </div>

    </div>
</div>
<!--<div ng-controller="ProfileController">-->
    <!--<div layout="column">-->
        <!--<div layout="row">-->
            <!--<md-card flex="30">-->
                <!--<img src="{{currentUser.photo}}" class="md-card-image" alt="image caption">-->
                <!--<md-card-content>-->
                    <!--<h2>Welcome {{username}}</h2>-->
                    <!--<p>0 day streak</p>-->
                    <!--<md-font-icon-->
                            <!--class="material-icons md-48"-->
                            <!--aria-label="favorite">-->
                        <!--favorite_border-->
                    <!--</md-font-icon>-->
                    <!--<md-font-icon-->
                            <!--class="material-icons md-48"-->
                            <!--aria-label="share">-->
                        <!--share-->
                    <!--</md-font-icon>-->
                <!--</md-card-content>-->

                <!--<md-card-content ng-show="currentUser.tutorials.length == 0">-->
                    <!--<md-card-actions layout="row" layout-align="end center">-->
                        <!--<md-button>Take First Lesson</md-button>-->
                    <!--</md-card-actions>-->
                <!--</md-card-content>-->

                <!--<md-card-content ng-show="currentUser.lastTutorial">-->
                    <!--<md-card-actions layout="row" layout-align="end center">-->
                        <!--<md-button>{{currentUser.lastTutorial}}</md-button>-->
                    <!--</md-card-actions>-->
                <!--</md-card-content>-->

            <!--</md-card>-->

            <!--<div layout="column" flex="70">-->
                <!--<md-card>-->
                    <!--&lt;!&ndash;<canvas id="line" class="chart chart-line" chart-data="data"&ndash;&gt;-->
                            <!--&lt;!&ndash;chart-labels="labels" chart-legend="true" chart-series="series"&ndash;&gt;-->
                            <!--&lt;!&ndash;chart-click="onClick" >&ndash;&gt;-->
                    <!--&lt;!&ndash;</canvas>&ndash;&gt;-->
                    <!--<md-card-header>-->
                        <!--<md-card-header-text>-->
                            <!--<span class="md-title">Stats:</span>-->
                            <!--<span class="md-subhead">Skill Level</span>-->
                        <!--</md-card-header-text>-->
                    <!--</md-card-header>-->

                    <!--<canvas id="radar" class="chart chart-radar"-->
                            <!--chart-data="data" chart-labels="labels">-->
                    <!--</canvas>-->

                <!--</md-card>-->

                <!--<md-card>-->

                    <!--<md-card-header>-->
                        <!--<md-card-header-text>-->
                            <!--<span class="md-subhead">Current course position</span>-->
                        <!--</md-card-header-text>-->
                    <!--</md-card-header>-->

                    <!--<md-slider-->
                            <!--ng-model="codeLevel"-->
                            <!--step="10"-->
                            <!--md-discrete aria-label="Course Position"-->
                            <!--ng-readonly="true">-->
                    <!--</md-slider>-->

                <!--</md-card>-->
            <!--</div>-->

        <!--</div>-->
    <!--</div>-->

<!--</div>-->
<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<h1>Profile</h1>-->
        <!--<div class="col-xs-12">-->
            <!--<div class="panel panel-primary col-xs-5 box-profile">-->
                <!--<div>-->
                    <!--<h2>Welcome {{username}}</h2>-->
                <!--</div>-->
                <!--<div class="profile-pic-css">-->
                    <!--&lt;!&ndash;<img class="wrapImage" src="http://placehold.it/140x140">&ndash;&gt;-->
                    <!--<img class="img-responsive img-rounded" ng-src="{{currentUser.photo}}">-->
                <!--</div>-->
                <!--<div>-->
                    <!--<div>-->
                        <!--<h3>Latest Lesson: </h3>-->
                        <!--<div ng-show="currentUser.tutorials.length == 0">-->
                            <!--<button class="btn btn-primary">Take first lesson</button>-->
                        <!--</div>-->
                        <!--<div ng-show="currentUser.lastTutorial">-->
                            <!--<button class="btn btn-primary">{{currentUser.lastTutorial}}</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<h3>Activity: </h3>-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
                    <!--incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
                    <!--exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure-->
                    <!--dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.-->
                    <!--Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt-->
                    <!--mollit anim id est laborum.-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="panel panel-primary col-sm-5 box-profile">-->
                <!--<div>-->
                    <!--<h2>Stats:</h2>-->
                    <!--<div>-->
                        <!--<p ng-show="currentUser.stats.length() == null"> none</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="panel panel-primary col-sm-5 box-profile">-->
                <!--<div>-->
                    <!--<h2>Achievements:</h2>-->
                    <!--<div>-->
                        <!--<p ng-show="currentUser.stats.length() == 0"> none</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;<div class="col-sm-12">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="panel panel-primary col-sm-5 box-profile">&ndash;&gt;-->
                <!--&lt;!&ndash;<div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<h2>Achievements:</h2>&ndash;&gt;-->
                    <!--&lt;!&ndash;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor&ndash;&gt;-->
                    <!--&lt;!&ndash;incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud&ndash;&gt;-->
                    <!--&lt;!&ndash;exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure&ndash;&gt;-->
                    <!--&lt;!&ndash;dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.&ndash;&gt;-->
                    <!--&lt;!&ndash;Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt&ndash;&gt;-->
                    <!--&lt;!&ndash;mollit anim id est laborum.&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--</div>-->
    <!--</div>-->
<!--</div>-->