<div layout="row" ng-controller="ProfileController">
    <md-card>
        <img src="{{currentUser.photo}}" class="md-card-image" alt="image caption">
        <md-card-content>
            <h2>Welcome {{username}}</h2>
            <p>0 day streak</p>
            <md-font-icon
                    class="material-icons md-48"
                    aria-label="favorite">
                favorite_border
            </md-font-icon>
            <md-font-icon
                    class="material-icons md-48"
                    aria-label="share">
                share
            </md-font-icon>
        </md-card-content>
    </md-card>

    <md-card>
        <canvas id="line" class="chart chart-line" chart-data="data"
                chart-labels="labels" chart-legend="true" chart-series="series"
                chart-click="onClick" >
        </canvas>
    </md-card>


</div>
<!--<div class="container">-->
    <!--<div class="row">-->
        <!--<h1>Profile</h1>-->
        <!--<div class="col-xs-12">-->
            <!--<div class="panel panel-primary col-xs-5 box-profile">-->
                <!--<div>-->
                    <!--<h2>Welcome {{username}}</h2>-->
                <!--</div>-->
                <!--<div class="profile-pic-css">-->
                    <!--&lt;!&ndash;<img class="wrapImage" src="http://placehold.it/140x140">&ndash;&gt;-->
                    <!--<img class="img-responsive img-rounded" ng-src="{{currentUser.photo}}">-->
                <!--</div>-->
                <!--<div>-->
                    <!--<div>-->
                        <!--<h3>Latest Lesson: </h3>-->
                        <!--<div ng-show="currentUser.tutorials.length == 0">-->
                            <!--<button class="btn btn-primary">Take first lesson</button>-->
                        <!--</div>-->
                        <!--<div ng-show="currentUser.lastTutorial">-->
                            <!--<button class="btn btn-primary">{{currentUser.lastTutorial}}</button>-->
                        <!--</div>-->
                    <!--</div>-->
                    <!--<h3>Activity: </h3>-->
                    <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor-->
                    <!--incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud-->
                    <!--exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure-->
                    <!--dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.-->
                    <!--Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt-->
                    <!--mollit anim id est laborum.-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="panel panel-primary col-sm-5 box-profile">-->
                <!--<div>-->
                    <!--<h2>Stats:</h2>-->
                    <!--<div>-->
                        <!--<p ng-show="currentUser.stats.length() == null"> none</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="panel panel-primary col-sm-5 box-profile">-->
                <!--<div>-->
                    <!--<h2>Achievements:</h2>-->
                    <!--<div>-->
                        <!--<p ng-show="currentUser.stats.length() == 0"> none</p>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--&lt;!&ndash;<div class="col-sm-12">&ndash;&gt;-->
            <!--&lt;!&ndash;<div class="panel panel-primary col-sm-5 box-profile">&ndash;&gt;-->
                <!--&lt;!&ndash;<div>&ndash;&gt;-->
                    <!--&lt;!&ndash;<h2>Achievements:</h2>&ndash;&gt;-->
                    <!--&lt;!&ndash;Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor&ndash;&gt;-->
                    <!--&lt;!&ndash;incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud&ndash;&gt;-->
                    <!--&lt;!&ndash;exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure&ndash;&gt;-->
                    <!--&lt;!&ndash;dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.&ndash;&gt;-->
                    <!--&lt;!&ndash;Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt&ndash;&gt;-->
                    <!--&lt;!&ndash;mollit anim id est laborum.&ndash;&gt;-->
                <!--&lt;!&ndash;</div>&ndash;&gt;-->
            <!--&lt;!&ndash;</div>&ndash;&gt;-->
        <!--&lt;!&ndash;</div>&ndash;&gt;-->

    <!--</div>-->
    <!--</div>-->
<!--</div>-->