<!--<md-toolbar class="md-table-toolbar md-default">-->
    <!--<div class="md-toolbar-tools">-->
        <!--<span>Student Forms</span>-->
    <!--</div>-->
<!--</md-toolbar>-->

<!--<md-table-container>-->
    <!--<table md-table md-row-select multiple ng-model="selected" md-progress="promise">-->
        <!--<thead md-head md-order="query.order" md-on-reorder="getDesserts">-->
        <!--<tr md-row>-->
            <!--<th md-column>ID (g)</th>-->
            <!--<th md-column> First Name </th>-->
            <!--<th md-column> Last Name </th>-->
            <!--<th md-column> Username </th>-->
            <!--<th md-column> Password </th>-->
            <!--<th md-column> Email </th>-->
            <!--<th md-column> Roles </th>-->
            <!--<th md-column> Badges </th>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tr>-->
            <!--<md-content>-->
            <!--<td md-cell>-->
            <!--<md-input-container>-->
                <!--<label>First Name</label>-->
                <!--<input type="text" ng-model="user.firstName" />-->
            <!--</md-input-container>-->
            <!--</td>-->

            <!--<td md-cell>-->
            <!--<md-input-container>-->
                <!--<label>Last Name</label>-->
                <!--<input type="text" ng-model="user.lastName" />-->
            <!--</md-input-container>-->
            <!--</td>-->


            <!--<td md-cell>-->
            <!--<md-input-container>-->
                <!--<label>Username</label>-->
                <!--<input type="text" ng-model="user.username" />-->
            <!--</md-input-container>-->
            <!--</td>-->

                <!--<td md-cell>-->
            <!--<md-input-container>-->
                <!--<label>Password</label>-->
                <!--<input type="password" ng-model="user.password" />-->
            <!--</md-input-container>-->
                    <!--</td>-->

                <!--<td md-cell>-->
            <!--<md-input-container>-->
                <!--<label>Email</label>-->
                <!--<input type="email" ng-model="user.email" />-->
            <!--</md-input-container>-->
                <!--</td>-->

                <!--<td md-cell>-->
            <!--<md-input-container>-->
                <!--<label>Role</label>-->
                <!--<input type="text" ng-model="user.roles" />-->
            <!--</md-input-container>-->
                <!--</td>-->

                <!--<td md-cell>-->
            <!--<md-input-container>-->
                <!--<label>Badge</label>-->
                <!--<input type="text" ng-model="user.badges" />-->
            <!--</md-input-container>-->
                <!--</td>-->

            <!--</md-content>-->

        <!--</tr>-->
        <!--<tbody md-body>-->
        <!--<tr md-column md-select-id="name" md-auto-select ng-repeat="student in studentUsers">-->
            <!--<td md-cell>{{student._id}}</td>-->
            <!--<td md-cell>{{student.firstName}}</td>-->
            <!--<td md-cell>{{student.lastName}}</td>-->
            <!--<td md-cell>{{student.username}}</td>-->
            <!--<td md-cell>{{student.password}}</td>-->
            <!--<td md-cell>{{student.email}}</td>-->
            <!--<td md-cell>{{student.roles}}</td>-->
            <!--<td md-cell>{{student.badges}}</td>-->

            <!--&lt;!&ndash;<td>{{student._id}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{student.firstName}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{student.lastName}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{student.username}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{student.password}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{student.email}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{student.roles}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td>{{student.badges}}</td>&ndash;&gt;-->
            <!--&lt;!&ndash;<td class="btn-nowrap">&ndash;&gt;-->
        <!--</tr>-->
        <!--</tbody>-->
    <!--</table>-->
<!--</md-table-container>-->

<!--<md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{desserts.count}}" md-on-paginate="getDesserts" md-page-select></md-table-pagination>-->


<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Forms</h1>
            <ul class="nav nav-tabs">
                <li role="presentation"
                    data-ng-class={'active':location.url()==='/dm-tutorial'}>
                    <a href="#/dm-tutorial">Tutorial</a>
                </li>
                <li role="presentation"
                    data-ng-class={'active':location.url()==='/dm-student'}>
                    <a>Student</a>
                </li>
                <li role="presentation"
                    data-ng-class={'active':location.url()==='/dm-instructor'}>
                    <a href="#/dm-instructor">Instructor</a>
                </li>
            </ul>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <td>
                ID
            </td>
            <td>
                First Name
            </td>
            <td>
                Last Name
            </td>
            <td>
                Username
            </td>
            <td>
                Password
            </td>
            <td>
                Email
            </td>
            <td>
                Roles
            </td>
            <td>
                Badges
            </td>
            <td>

            </td>
        </tr>
        <tr>
            <td>

            </td>
            <td>
                <input type="text" ng-model="user.firstName" class="form-control">
            </td>
            <td>
                <input type="text" ng-model="user.lastName" class="form-control">
            </td>
            <td>
                <input type="text" ng-model="user.username" class="form-control">
            </td>
            <td>
                <input type="password" ng-model="user.password" class="form-control">
            </td>
            <td>
                <input type="email" ng-model="user.email" class="form-control>">
            </td>
            <td>
                <input type="text" ng-model="user.roles" class="form-control">
            </td>
            <td>
                <input type="number" ng-model="user.badges" class="form-control">
            </td>
            <td class="btn-nowrap">
                <a ng-click="addUser(user)" class="btn btn-success">
                    <scan class="glyphicon glyphicon-plus"></scan>
                </a>
                <a ng-click="updateUser(user)" class="btn btn-warning">
                    <scan class="glyphicon glyphicon-pencil"></scan>
                </a>
            </td>
        </tr>
        <tr ng-repeat="student in studentUsers">
            <td>{{student._id}}</td>
            <td>{{student.firstName}}</td>
            <td>{{student.lastName}}</td>
            <td>{{student.username}}</td>
            <td>{{student.password}}</td>
            <td>{{student.email}}</td>
            <td>{{student.roles}}</td>
            <td>{{student.badges}}</td>
            <td class="btn-nowrap">
                <a ng-click="selectUser(student)" class="btn btn-primary">
                    <scan class="glyphicon glyphicon-ok"></scan>
                </a>
                <a ng-click="deleteUser(student)" class="btn btn-danger">
                    <scan class="glyphicon glyphicon-remove"></scan>
                </a>
            </td>
        </tr>
    </table>
</div>
            </div>
        </div>
    </div>
</body>
