<div flex style="height: 100%;">
<div layout="column" ng-cloak class="md-form"  style="min-height: 100%; margin-bottom: 20%;">
    <div layout="row" style="margin-top: 5%">

        <div flex="25">
            <!--First-->
        </div>

        <div flex="50">
            <md-content layout-gt-sm="row" layout-align="center center" class="better-header wow fadeIn" data-wow-delay="0.5s">
                <md-card flex style="margin: 0" >

                    <md-toolbar class="md-toolbar-tools">
                        <h2 style="color: white;"><span>Register Form</span></h2>
                    </md-toolbar>

                    <md-card-content style="margin-top: 5%">
                        <form name="registerForm" layout="column">
                        <md-input-container>
                            <label>Username</label>
                            <input required type="text" name="username" ng-model="user.username" />
                            <div ng-messages="registerForm.username.$error" ng-show="registerForm.username.$dirty">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>Email Address</label>
                            <input required type="email" name="email" ng-model="user.email" ng-pattern="/^.+@.+\..+$/"/>
                            <div ng-messages="registerForm.email.$error" role="alert"  ng-show="registerForm.username.$dirty">
                                <div ng-message-exp="['required', 'pattern']">
                                    Your email must look like an e-mail address.
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>Password</label>
                            <input required name="password" type="password" ng-model="user.password" />
                            <div ng-messages="registerForm.password.$error" ng-show="registerForm.password.$dirty">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <label>Verify Password</label>
                            <input required type="password" ng-model="user.verifyPassword" />
                            <div ng-messages="registerForm.username.$error" ng-show="registerForm.username.$dirty">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                        <md-input-container>
                            <md-radio-group required ng-model="user.roles" layout="row">
                                <md-radio-button value="dm-instructor" class="md-primary"> Sign Up as Instructor </md-radio-button>
                                <md-radio-button value="dm-student"> Sign up as Student </md-radio-button>
                            </md-radio-group>
                        </md-input-container>
                        <md-button ng-click="model.register(user)" class="md-raised md-primary" aria-label="register" style="margin-top: 5%; color: white;">Submit</md-button>
                        </form>
                    </md-card-content>
                </md-card>
            </md-content>
        </div>

        <div flex="25">
            <!--Second-->
        </div>

    </div>
</div>
</div>
