<div layout="row" ng-controller="HeaderController">

    <md-sidenav
            md-component-id="left"
            class="md-sidenav-left">
        <h1 class="md-toolbar-tools">
            <a ng-class="{'active': location.url()=== '/'}" href="#/home">Tutorial App</a>
        </h1>
        <md-content layout="column" layout-padding>

            <md-content ng-show="currentUser">
                <md-button
                        ng-href="#/profile"
                        title="Profile Page"
                        ng-disabled="false"
                        aria-label="Profile"
                        md-no-ink
                        class="md-primary">
                    Profile
                </md-button>
            </md-content>

            <md-content>
                <md-button
                        ng-href="#/tutorial"
                        title="Tutorial Page"
                        ng-disable="false"
                        aria-label="Tutorial"
                        md-no-ink
                        class="md-primary">
                    Tutorial
                </md-button>
            </md-content>

            <md-content>
                <form ng-submit="search(data)">
                    <md-input-container>
                        <label for="testInput">Search</label>
                        <input id="testInput" type="text" ng-model="data">
                    </md-input-container>
                </form>
            </md-content>

            <!--TODO: Needs to be implemented -->
            <!--<md-button-->
                    <!--ng-href="#"-->
                    <!--title="About Page"-->
                    <!--ng-disable="false"-->
                    <!--aria-label="About Us"-->
                    <!--md-no-ink-->
                    <!--class="md-primary">-->
                <!--About-->
            <!--</md-button>-->

            <md-content ng-hide="currentUser">
                <md-button
                        ng-href="#/login"
                        title="Login Page"
                        ng-disable="false"
                        aria-label="Login"
                        md-no-ink
                        class="md-primary">
                    Sign In
                </md-button>
            </md-content>

            <md-content ng-hide="currenUser">
                <md-button
                        ng-href="#/register"
                        title="Register Page"
                        ng-disable="false"
                        aria-label="register"
                        md-no-ink
                        class="md-primary">
                    Sign Up
                </md-button>
            </md-content>

            <md-content ng-show="currentUser">
                <md-button
                        href="#/home"
                        ng-click="logout()"
                        md-no-ink
                        class="md-primary">
                    Logout
                </md-button>
            </md-content>
        </md-content>
    </md-sidenav>

    <md-content>
        <md-button
                ng-click="openLeftMenu()" >
            <md-font-icon
                    class="material-icons md-48"
                          aria-label="menu">
                menu
            </md-font-icon>
        </md-button>
    </md-content>

</div>