<div layout-padding ng-cloak>
    <div layout-gt-md="row" layout-md="column" style="margin-bottom: 10%;">
        <md-card flex-gt-md="'40" flex-md="100" style="color: #C0C6CC; background-color: #272822;" class="wow fadeIn" data-wow-delay="0.5s">
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Question</span>
                    </md-card-title-text>
                </md-card-title>

                <md-card-content>
                    <div ng-repeat="description in model.currentLesson.description track by $index">
                        <div ta-bind="text" ng-model="description"></div>
                    </div>
                    <!--<div ng-repeat="question in model.currentLesson.question track by $index">-->
                        <!--<div ng-bind-html="question"></div>-->
                    <!--</div>-->
                    <p ta-bind="text" ng-model="model.currentLesson.question"></p>
                </md-card-content>

                    <div class="dialog-demo-content" layout="column" layout-align="center center" style="width:100%">
                        <md-button class="md-primary md-raised edgePadding" ng-click="model.openOffscreen()" style="color: white;">
                            Hints
                        </md-button>
                    </div>

                </md-card-actions>


        </md-card>
        <div layout="column" flex-gt-md="60" flex-md>
            <!--ng-init="linkIt = model.currentLesson.multimedia"-->

            <md-card ng-if="model.loadPlayer" class="wow fadeIn" data-wow-delay="0.5s">
                <ng-youtube-embed
                        url= "model.currentLesson.multimedia"
                        autoplay="true"
                        autohide="true"
                        color="white"
                        controls="true"
                        width="100%"
                        height="300px"
                        disablekb="false"
                        ivloadpolicy="false"
                        rel="false"
                        showinfo="false"
                        theme="dark">
                </ng-youtube-embed>
            </md-card>

            <!--<md-card layout="row" flex="70">-->
            <!--<img ng-src="images/placeholder.jpg" alt="Placeholder">-->
            <!--</md-card>-->

            <div layout="row" class="wow fadeIn" data-wow-delay="0.5s">
                    <md-input-container flex>
                        <label>Code</label>
                        <div class='ace-editor' ng-model="userCode.data" ui-ace="{
                             theme:'monokai',
                                mode:'{{model.storage.tutorialLang}}',
                                onLoad: model.onEditorLoad,
                            }" layout-align="stretch">
                        </div>
                        <!--<textarea ng-model="userCode.data" md-maxlength="250" rows="5" md-select-on-focus></textarea>-->
                        <md-progress-linear md-mode="indeterminate" ng-if="isLoading" ng-hide>Thid</md-progress-linear>
                        <md-button class="md-raised md-primary" ng-click="model.run(userCode); model.showloader()" style="color: white;">Run Code</md-button>
                        <md-button class="md-raised md-primary" ng-click="model.nextLesson(userCode); model.showloader()" style="color: white;">Submit Code</md-button>
                    </md-input-container>

            </div>
            <md-input-container>
                <!--<label style="color: white;">Result</label>-->
                <textarea md-maxlength="300" rows="10" ng-model="model.output" disabled style="color: white;"></textarea>
                <!--<div ui-ace readonly ng-model="model.output"></div>  -->
            </md-input-container>
        </div>
    </div>
</div>