<div layout="column" ng-cloak class="md-inline-form">

    <div layout="row" style="margin-top: 10%;">

        <div flex="10">
            <!--First-->
        </div>

        <div flex="80">
            <md-content layout-gt-sm="row" layout-align="center center" layout-padding>
                <md-card flex class="better-header">
                    <md-toolbar class="md-menu-toolbar">
                        <div layout="row">
                            <md-toolbar-filler layout layout-align="center center">
                                <md-icon class="material-icons">chrome_reader_mode</md-icon>
                            </md-toolbar-filler>
                            <div>
                                <h2 class="md-toolbar-tools">View and Edit your tutorials</h2>
                                <md-menu-bar>
                                    <md-menu>
                                        <button ng-click="$mdOpenMenu()">
                                            Tutorials
                                        </button>
                                        <md-menu-content>
                                            <md-menu-item layout="column">
                                                <!--<md-button ng-click="ctrl.sampleAction('share', $event)">-->
                                                <!--Share...-->
                                                <!--</md-button>-->
                                                <md-list-item md-ink-ripple class="md-3-line" ng-repeat="tutorial in model.tutorials" ng-click="model.openTutorialEditor(tutorial)">
                                                    <div class="md-list-item-text" >
                                                        <h3 layout="column">{{tutorial.title}}</h3>
                                                        <md-menu-divider ng-if="!$last"></md-menu-divider>
                                                    </div>
                                                </md-list-item>

                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    <md-menu ng-show="model.tutorial">
                                        <button ng-click="$mdOpenMenu()">
                                            Lessons
                                        </button>
                                        <md-menu-content>
                                            <md-menu-item layout="column">
                                                <md-list-item mg-ink-ripple class="md-3-line" ng-repeat="lesson in model.tutorial.lessons" ng-click="model.openLessonEditor(lesson)">
                                                    <div class="md-list-item-text" layout="column">
                                                        <p>{{lesson.title}}</p>
                                                        <md-menu-divider ng-if="!$last"></md-menu-divider>
                                                    </div>
                                                </md-list-item>
                                            </md-menu-item>
                                        </md-menu-content>
                                    </md-menu>
                                    <md-button ng-show="model.tutorial" ng-click="model.openLessonEditor(null)">Create New Lesson</md-button>
                                </md-menu-bar>
                            </div>
                        </div>
                    </md-toolbar>

                    <div class="page-container">
                        <form style="margin-top: 5%;">
                            <div layout-gt-xs="column">
                                <div layout="row">
                                    <div flex="10">
                                        <!--Left Most-->
                                    </div>
                                    <md-input-container class="md-block" flex="70">
                                        <label>Title</label>
                                        <input ng-model="model.tutorial.title">
                                    </md-input-container>
                                </div>
                                <div layout="row" layout-fill>
                                    <div flex="10">
                                        <!--Left Most-->
                                    </div>
                                    <md-input-container class="md-block" flex="70">
                                        <label>Language</label>
                                        <md-select ng-model="model.tutorial.language">
                                            <md-option ng-repeat="language in model.languages" value="{{language}}">{{language}}</md-option>
                                        </md-select>
                                    </md-input-container>
                                </div>
                                <div layout="row" layout-fill>
                                    <div flex="10">
                                        <!--Left Most-->
                                    </div>
                                    <md-input-container class="md-block" flex="70">
                                        <label>Tags</label>
                                        <input ng-model="model.tutorial.tags">
                                    </md-input-container>
                                </div>
                                    <div style="padding-bottom: 10%"></div>
                                    <md-button ng-click="model.createTutorial(model.tutorial)" class="md-raised md-primary" style="margin-top: 5%;">Create Tutorial</md-button>
                                </div>
                        </form>
                        <nav mfb-menu position="br"
                             effect="slidein-spring"
                             label="Click here"
                             active-icon="ion-close"
                             resting-icon="ion-edit"
                             toggling-method="click"
                             >
                            <button mfb-button icon="ion-plus" ng-click="model.createTutorial(model.tutorial)" label="Create Tutorial"></button>
                            <button mfb-button icon="ion-wrench" ng-click="model.updateTutorial(model.tutorial)" label="Update Tutorial"></button>
                            <button mfb-button icon="ion-trash-b" ng-click="model.deleteTutorial(model.tutorial)" label="Delete Tutorial"></button>
                        </nav>
                    </div>
                </md-card>
            </md-content>
        </div>

        <div flex="10">
            <!--Second-->
        </div>

    </div>

</div>